<div style="padding-left: 40%; padding-top: 10%;">
    <div style="padding-bottom: 30px;">
    <button [routerLink] = "['/transports/all']"></button>
    </div>
    <form #transportForm="ngForm" *ngIf="transport" (change)="s()">
        <label>E-mail</label>
        <input required email=true size=30 [(ngModel)]="transport.email" name="email" #transportEmail="ngModel"
            [ngClass]="{'invalido' : transportEmail.invalid}">

        <br />
        <label>Nome</label>
        <input required minlength="4" size=30 [(ngModel)]="transport.nome" name="nome" #transportNome="ngModel"
            [ngClass]="{'invalido' : transportNome.invalid}">
        <br />

        <label>Empresa</label>
        <input required size=30 [(ngModel)]="transport.empresa" name="empresa" #transportEmpresa="ngModel"
            [ngClass]="{'invalido' : transportEmpresa.invalid}">
        <br />

        <label>Telefone</label>
        <input minlength="10" maxlength="11" required size="8" [(ngModel)]="transport.telefone" name="telefone"
            #transportTelefone="ngModel" [ngClass]="{'invalido' : transportTelefone.invalid}">
        <br />
        <label>Celular</label>
        <input minlength="10" maxlength="11" size="8" [(ngModel)]="transport.celular" name="celular"
            #transportCelular="ngModel" [ngClass]="{'invalido' : transportCelular.invalid}">
        <br />
        <label> Whatsapp</label>
        <input minlength="10" maxlength="11" size="8" [(ngModel)]="transport.whatsapp" name="whatsapp"
            #transportWhatsapp="ngModel" [ngClass]="{'invalido' : transportWhatsapp.invalid}">

        <br />

        <div style="border-color: black;">
            <p><label style="align-self: center;">-----------Modais------------</label></p>

            <input *ngIf="verify('Aeroviario')" checked type="checkbox" (change)="change('Aeroviario')">
            <input *ngIf="!verify('Aeroviario')" type="checkbox" (change)="change('Aeroviario')">
            <label>Aeroviário</label>
            <input *ngIf="verify('Ferroviario')" checked type="checkbox" (change)="change('Ferroviario')">
            <input *ngIf="!verify('Ferroviario')" type="checkbox" (change)="change('Ferroviario')">
            <label>Ferroviário</label>
            <br />
            <input *ngIf="verify('Rodoviario')" checked type="checkbox" (change)="change('Rodoviario')">
            <input *ngIf="!verify('Rodoviario')" type="checkbox" (change)="change('Rodoviario')">
            <label>Rodoviário</label>
            <input *ngIf="verify('Hidroviario')" checked type="checkbox" (click)="change('Hidroviario')">
            <input *ngIf="!verify('Hidroviario')" type="checkbox" (click)="change('Hidroviario')">
            <label>Hidroviario</label>
            <br />
            <input *ngIf="verify('Dutoviario')" checked type="checkbox" (change)="change('Dutoviario')">
            <input *ngIf="!verify('Dutoviario')" type="checkbox" (change)="change('Dutoviario')">
            <label>Dutoviario</label>
            <p>--------------------------------</p>
        </div>
        <div>
            <label>CEP</label>
            <input minlength="8" maxlength="8" size="5" [(ngModel)]="transport.cep" name="cep" #transportCep="ngModel"
                (change)="getAdressByCep()" [ngClass]="{'invalido' : isCepInvalido()}"
                [ngClass]="{'invalido' : transportCep.invalid}">


            <label>UF</label>

            <select [(ngModel)]="transport.uf" name="uf">
                <option *ngFor="let e of estados" [ngValue]="e" selected="setEstado(e)">
                    {{e}}
                </option>
            </select>
        </div>
        <label> Cidade</label>
        <input required size="25" [(ngModel)]="transport.cidade" name="cidade" #transportCidade="ngModel"
            [ngClass]="{'invalido' : transportCidade.invalid}">
        <br />
        <label>Bairro</label>
        <input size="20" [(ngModel)]="transport.bairro" name="bairro" #transportBairro="ngModel"
            [ngClass]="{'invalido' : transportBairro.invalid}">
        <br />
        <label>Rua/Avenido</label>
        <input required size=50 [(ngModel)]="transport.logradouro" name="logradouro" #transportLogradouro="ngModel"
            [ngClass]="{'invalido' : transportLogradouro.invalid}">
        <br />
        <label> Número</label>
        <input required size="4" [(ngModel)]="transport.numero" name="numero" #transportNumero="ngModel"
            [ngClass]="{'invalido' : transportNumero.invalid}">
        <br />
        <div>
            <h2 style="align-self: center;">-------Logo-------</h2>
            <img style="width: 150px; height: 150px;" [src]="transport.logoUrl">
        </div>
        <div>
            <label for="file">Choose File</label>
            <input type="file" accept="image/*" id="file" (change)="setFile($event.target.files)">
        </div>
        <p>.</p>
        <button [disabled]="isCepInvalido()" [disabled]="semModais()" [disabled]="transportForm.invalid"
            style="width: 150px;" (click)="update()">Salvar</button>
        <span>--------------------</span>
        <button [routerLink]="['/deleteTransport', transport.id]">Delete</button>
    </form>
</div>